body {background-color:black}
h1{color:grey;font:verdana}
.maindiv{background-color:white;font:black;width:300px;
       border-radius: 25px;padding:auto;}
.maindiv .form label {display: inline-block;width: 100px;margin-bottom: 8px}